In [ ]:
# mystr[:my_index+1]

In [3]:
for val in zip((1,2,3),(10,20,30),(100,200,300)):
    print(type(val), val)

<class 'tuple'> (1, 10, 100)
<class 'tuple'> (2, 20, 200)
<class 'tuple'> (3, 30, 300)

In [6]:
dt_list = ['정당', '선거구']
dd_list = ['민주당', '서울은평구']
for data in zip(dt_list, dd_list):
    print(data)
    
data_dict = dict(zip(dt_list, dd_list))
data_dict

('정당', '민주당')
('선거구', '서울은평구')

{'정당': '민주당', '선거구': '서울은평구'}

In [14]:
import re

mystr = "a\nb\rc\td"*3
print(mystr)
regex = re.compile(r'[\n\r\t]') # 찾을 문자열들
result = regex.sub(" ",mystr) # 해당 문자열을 찾아서 공백으로 제거
result

a
c	da
c	da
c	d

'a b c da b c da b c d'

In [16]:
data_dict = {'a':[1,2,3], 'b':[4,5,6], 'c':[7,8,9]}

import pandas as pd

df = pd.DataFrame(data_dict)
df
# dict의 key-> column  value-> row data

   a  b  c
0  1  4  7
1  2  5  8
2  3  6  9

In [20]:
for idx, row in df.iterrows(): 
    print(idx, row['a'], row['b'], row['c']) # column의 값 출력

0 1 4 7
1 2 5 8
2 3 6 9

In [21]:
df['d'] = [10,11,12]
df

   a  b  c   d
0  1  4  7  10
1  2  5  8  11
2  3  6  9  12