### Pymysql과 MariaDB 연동
* pymysql만 사용하기

* java 
       - JDBC(java database connectivity), MyBatis 프레임워크
       - JPA(Java Persistence API)
        * JPA: query문 사용하지 않고 객체로써 data를 다룬다
          ex) django에서 class를 만들면 그에 mapping되는 table을 DB에 자동으로 생성해준다.
        * MyBatis: query문을 사용해서 data를 handling

* python 
         - pymysql : <https://github.com/PyMySQL/PyMySQL> connect -> cursor -> commit
         - sqlalchemy, cx_Oracle

In [5]:
!pip show pymysql

Name: PyMySQL
Version: 0.10.0
Summary: Pure Python MySQL Driver
Home-page: https://github.com/PyMySQL/PyMySQL/
Author: yutaka.matsubara
Author-email: yutaka.matsubara@gmail.com
License: "MIT"
Location: c:\anaconda3\lib\site-packages
Requires:
Required-by:

#### product table 생성

In [6]:
sql = """
CREATE TABLE product (
    id INT UNSIGNED NOT NULL AUTO_INCREMENT,
    name VARCHAR(20) NOT NULL,
    model_num VARCHAR(10) NOT NULL,
    model_type VARCHAR(10) NOT NULL,
    PRIMARY KEY(id)
);
"""

In [7]:
import pymysql

db = pymysql.connect(host='localhost', port=3306, db='python_db', user='python', passwd='python', charset='utf8')

cursor = db.cursor()
cursor.execute(sql)
db.commit()

In [8]:
cursor.execute('drop table product;')
cursor.execute('show tables;')

6

In [9]:
# cursor를 열었으면 query문을 보내고 닫아줘야한다.
db.close()

In [11]:
import pymysql

db = pymysql.connect(host='localhost', port=3306, db='python_db', user='python', passwd='python', charset='utf8')

try:
    with db.cursor() as cursor:
#         cursor.execute('drop table product;')
        cursor.execute(sql)
        db.commit()
        
        for num in range(10,20):
            name = 'S20'+ str(num)
            ins_sql = "INSERT INTO product (name, model_num, model_type) VALUES ('%s', '%s', '%s')" %(name, '7700', 'Phone')
#             "insert into 'product' ('name', 'model_num', 'model_type') values (%s %s %s)" %(name, '7700', 'Phone')
#             cursor.execute(ins_sql, (name, '7700', 'Phone'))
#             ins_sql = "insert into product (name, model_num, model_type) values ('" + name + "','7700', 'Phone')"
            cursor.execute(ins_sql)
            print(ins_sql)
            
        db.commit()
        print(cursor.lastrowid)
finally:
    db.close()

INSERT INTO product (name, model_num, model_type) VALUES ('S2010', '7700', 'Phone')
INSERT INTO product (name, model_num, model_type) VALUES ('S2011', '7700', 'Phone')
INSERT INTO product (name, model_num, model_type) VALUES ('S2012', '7700', 'Phone')
INSERT INTO product (name, model_num, model_type) VALUES ('S2013', '7700', 'Phone')
INSERT INTO product (name, model_num, model_type) VALUES ('S2014', '7700', 'Phone')
INSERT INTO product (name, model_num, model_type) VALUES ('S2015', '7700', 'Phone')
INSERT INTO product (name, model_num, model_type) VALUES ('S2016', '7700', 'Phone')
INSERT INTO product (name, model_num, model_type) VALUES ('S2017', '7700', 'Phone')
INSERT INTO product (name, model_num, model_type) VALUES ('S2018', '7700', 'Phone')
INSERT INTO product (name, model_num, model_type) VALUES ('S2019', '7700', 'Phone')
10

In [12]:
import pymysql

db = pymysql.connect(host='localhost', port=3306, db='python_db', user='python', passwd='python', charset='utf8')

try:
    #select, update
    with db.cursor() as cursor:
        # 3번째 tuple 검색
        cursor.execute('select * from product where id=3')
        result = cursor.fetchone()
        print(type(result), result)
        
        # update
        upd_sql = "update product set model_type='%s' where name between 'S2010' and 'S2015'" % '핸드폰' 
        cursor.execute(upd_sql)
        db.commit()
        print()
        
        cursor.execute('select * from product')
        result_list = cursor.fetchall() # cursor()의 값을 가져온다.
        print(type(result_list))
        for row in result_list:
            print(row[0],row[1],row[2], row[3])
finally:
    db.close()

<class 'tuple'> (3, 'S2012', '7700', 'Phone')

<class 'tuple'>
1 S2010 7700 핸드폰
2 S2011 7700 핸드폰
3 S2012 7700 핸드폰
4 S2013 7700 핸드폰
5 S2014 7700 핸드폰
6 S2015 7700 핸드폰
7 S2016 7700 Phone
8 S2017 7700 Phone
9 S2018 7700 Phone
10 S2019 7700 Phone

In [13]:
import pymysql

db = pymysql.connect(host='localhost', port=3306, db='python_db', user='python', passwd='python', charset='utf8')

try:
    #select group by
    with db.cursor() as cursor:
        cursor.execute("select model_type, count(*) from product group by model_type" )
        result_list = cursor.fetchall()
        print(type(result_list))
        for row in result_list:
            print(row[0],row[1])
finally:
    db.close()

<class 'tuple'>
Phone 4
핸드폰 6